.song-card-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    border: 1px black solid
}

.song-card-menu-dots > svg{
    align-self: center
}

.number-play:hover{
    background-color: darkgray;
    cursor: pointer;
}

.all-songs-container-headers{
    width: 100%;
    border-collapse: collapse;
}

.song-menu-svg{
    text-align: end;
    width: 5%;
}
.song-menu-svg button {
    background-color: transparent;
    border: none;
}
.song-menu-svg button svg{
    fill: darkcyan;
    scale: 2
}

.like-song-svg{
    display: flex;
    justify-content: end;
}

th{
    border-bottom: 1px solid teal;
    text-align:start;
    border-spacing: 50px;
}

tbody{
    line-height: 35px;
}
