.containerforHomePage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}
.playlistCardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 23%;
    margin-bottom: 20px;
    background-color: #151716;
    padding: 8px;
    border-radius: 6px;
    transition: background-color .5s, scale .5s;

}
.playlistCardContainer:hover{
    cursor: pointer;
    background-color: #2a2f2e;
    scale: 1.05;
    transition: background-color .5s, scale .5s;

}
#playlistName{
    padding-top: 5px;
    width:225px;
    margin: 0px;

}

#playlistuserName{
    width:225px;
    margin: 0px;

}

.playlistImg{
    height: 225px;
    width: 225px;
    border-radius: 4px;
}
.white-icon svg {
    fill: white;
  }

  .hover-teal:hover svg {
    fill: black;
  }
